body {
	padding-top: 0;
	margin-left: 5%;
	margin-right: 5%;
  }


  h1{
    margin-top: 10%;

}

#cuerpo{
	padding-top: 10%;
		margin-top: 0;
		margin-right: 50px;
		margin-bottom: 50px;
		margin-left: 1%;


}

#cajaAddTema{
	text-align:left;
	background-color:grey;
	width: 30%;
	padding: 2%;
	margin:1%;
}

#cajaExamen{
	text-align:left;
	background-color:grey;
	width: 30%;
	padding: 2%;
	margin:1%;
  }


.dropdown{
	width: 20%;
}

#dropDowntemas{
	width: 50%;

}


.cbox1{
	width: 50%;
}

input[type=checkbox]
{
  /* Doble-tamaño Checkboxes */
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari y Chrome */
  -o-transform: scale(2); /* Opera */
  padding-left: 50%;
}



/*------------------------------PAGINA CREAR PREGUNTA EXAMEN------------------------------------*/
#preguntas{
	margin-top: 1%;
	padding-bottom: 2%;
	background-color:grey;
	
}
.labelPreguntas{
	
	margin-left: 0.5%;
  }

  .inputPreguntas{
	width: 50%;
	margin-left: 1%;
  }


  /*------------------------------FIN------------------------------------*/


/*@media (min-width: 1200px)
#cuerpo {
    max-width: 1060px;
}*/


#tablaPideCita{
	margin-top: 10%;
}
#historial{
	margin-top: 50%;
}
  
  .starter-template {
	padding: 3rem 1.5rem;
	text-align: center;
  }

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
#historial{
	grid-row-start: 1;
	grid-row-end: 3;
  margin-top: 2%; 
  float: left;
   margin-left:57px; 
   width: 90%; 
   border: #E0E0E0 solid 1px; 
   height: 33%; 
  background-color:#EEEEEE;}
  
  .loginCampo{
	margin-top: 15%;
  }


	
	
  